<h3>Inscription</h3>

<form class="form-signup" (ngSubmit)="onSubmit(SignupForm.value)" #SignupForm="ngForm">
  <div class="container-signup">
    <mat-form-field>
      <input matInput type="text" placeholder="Pseudo" required name="name" ngModel #name="ngModel">
      <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
        Pseudo obligatoire.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" placeholder="Votre email"  email required name="email" ngModel #email="ngModel">
      <mat-error *ngIf="email.errors?.required && (email.dirty || email.touched)">
        Email obligatoire.
      </mat-error>
      <mat-error *ngIf="email.errors?.email && (email.dirty || email.touched)">
          Email non valide.
        </mat-error>
    </mat-form-field>

    <div class="checkPassword" ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
      <mat-form-field>
        <input matInput type="password" placeholder="Mot de passe" minlength="8" #passwordA="ngModel" name="passwordA" required ngModel>
        <mat-error *ngIf="passwordA.errors?.required && (passwordA.dirty || passwordA.touched)">
          Mot de passe obligatoire.
        </mat-error>
        <mat-error *ngIf="passwordA.errors?.minlength">
          Votre mot de passe doit comporter 8 caractères minimum.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Confirmer le mot de passe" #passwordB="ngModel" name="passwordB" required ngModel>
        <mat-error *ngIf="passwordB.invalid && (passwordA.dirty || passwordA.touched)">
          Merci de confirmer votre mot de passe.
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="passwords.errors?.passwordCheck && (passwordB.dirty || passwordB.touched)">
        Les mots de passe ne correspondent pas.
      </mat-error>
    </div>

    <button type="submit" mat-raised-button color="warn" [disabled]="!SignupForm.form.valid">Inscription</button>

  </div>
</form>
