@import "../../../scss/variables";

div {
  h2 {
    padding-top: 20px;
    color: $button;
    text-align: center;
  }
}
.navigation-items{
  padding: 0;
  list-style:none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  li {
    flex-grow: 1; /* default 0 */
    margin: 0 5px;
    button {
      width: 100%;
    }
  }
}
