@import "../../../scss/variables";

div {
  background-color: $backgroundColorNav;
  h2 {
    padding-top: 20px;
    color: $textbackgroundColor;
    text-align: center;
  }
}
ul.navigation-items{
  padding: 0;
  list-style:none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  li {
    flex-grow: 1; /* default 0 */
    text-align: center;
    a {
      box-sizing: border-box;
      color: $textbackgroundColor;
      text-decoration: none;
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 15px 0;
    }
    &:hover, &.active {
      border-bottom: $textbackgroundColor solid 2px;
    }
  }
}
