@import "../../../../scss/variables";

:host {
  display: flex;
  flex-direction: row;
  a {
    flex-grow: 1;
    margin: 2px 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    //background-color: $backgroundColorItems;
    border-radius: 2px;
    div {
      h3 {
        margin : 0;
        font-weight: 300;
        margin-right: 110px;
        display: flex;
        align-items: flex-end;
        span {

        }
        mat-icon {
          color: $backgroundColorNav;
          margin-left: 5px;
        }
      }
      p {
        margin-bottom: 0;
        margin-right: 110px;
        color :$textbackgroundColorItems;
      }
    }
    img {
      max-width: 120px;
      float: right;
    }
  }
  &:active {
    opacity: 0.5;
  }
}
