<a *ngIf="exercise.deletable" [routerLink]='["/exercises/edit", indexBody, indexExercise]'>
  <img [src]="exercise.imagePath" alt="{{ exercise.name }}">
  <div>
    <h3>{{ exercise.name | titlecase }} - <mat-icon>edit</mat-icon></h3>
    <p>{{ exercise.description | slice:0:85 }}...</p>
  </div>
</a>

<a *ngIf="!exercise.deletable">
  <!-- dans le future un lien pour la page detail -->
  <img [src]="exercise.imagePath" alt="{{ exercise.name }}">
  <div>
    <h3>{{ exercise.name | titlecase }}</h3>
    <p>{{ exercise.description | slice:0:85 }}...</p>
  </div>
</a>
