<h3 *ngIf="!deletable">Ajout d'un nouvel exercice</h3>
<h3 *ngIf="deletable">Modification d'un exercice</h3>

<form class="form-exercise" (ngSubmit)="onSubmit(ExerciseForm.value)" #ExerciseForm="ngForm">
  <div class="container-exercise">
    <input type="hidden" name="id" [ngModel]="idExercise">
    <mat-form-field>
      <input matInput type="text" placeholder="Nom de l'exercice" required name="name" [ngModel]="exercise?.name" #name="ngModel">

      <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
        Nom de l'exercice obligatoire
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description" name="description" [ngModel]="exercise?.description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Partie du corps" required name="idBody" [(ngModel)]="selected" #idBody="ngModel">
        <mat-option *ngFor="let body of bodys; let i = index" [value]="i">{{ body }}</mat-option>
      </mat-select>

      <mat-error *ngIf="idBody.invalid && (idBody.dirty || idBody.touched)">
        Partie du corps obligatoire
      </mat-error>
    </mat-form-field>


    <div *ngIf="!deletable" class="button-form">
      <button (click)="goToExercises()" mat-raised-button>Annuler</button>
      <button type="submit" mat-raised-button color="warn" [disabled]="!ExerciseForm.form.valid">Ajouter</button>
    </div>

    <div *ngIf="deletable" class="button-form">
      <button (click)="goToExercises(idBody.value)" mat-raised-button>Annuler</button>
      <button (click)="deleteExercise()" mat-raised-button>Effacer</button>
      <button type="submit" mat-raised-button color="warn" [disabled]="!ExerciseForm.form.valid">Modifier</button>
    </div>

  </div>
</form>



