<mat-accordion>
  <mat-expansion-panel [expanded]="indexBody == expand" *ngFor="let body of bodys;let indexBody = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
          <h3>{{ body | titlecase }}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-exercises-item
      *ngFor="let exercise of exercises[indexBody];let indexExercise = index"
      [exercise]="exercise" [indexExercise]="indexExercise" [indexBody]="indexBody">
    </app-exercises-item>

  </mat-expansion-panel>
</mat-accordion>
